

@media (max-width: 800px) {

    .movie-card h2{
        font-size: 0.9em;
    }

    .movie-card p{
        font-size: 0.9em;
    }

    .link{
        width: 100%;
        font-size: 0.9em;
        padding: 2rem;
    }

}

@media (max-width: 800px) {

    .movie-card h2{ 
        font-size: 0.9em;
    }

    .movie-card p{
        font-size: 0.9em;
    }

    .link{
        width: 100%;
        font-size: 0.7em;
        
    }

}

@media (max-width: 450px) {

    .movie-card h2{ 
        font-size: 0.6em;
    }

    .movie-card p{
        font-size: 0.7em;
    }

    .link{
        width: 100%;
        font-size: 0.55em;
        
    }

}